
#container{
    text-align:center;
    letter-spacing: 4px;
    margin-top:5%;
    height:100%;
    
}
#para{
    letter-spacing: 4px;
    color:darkblue;
    font-size:20px;
    font-weight:bold;
    margin-bottom:3%;
}
#heading{
    color:darkblue;
    margin-bottom:15px;
    font-size:45px;
}
#reg{
    margin-right:10%;
    padding:10px;
    padding-left:35px;
    padding-right:35px;
    font-weight: bold;
    letter-spacing: 4px;
    font-size:15px;
}
#login{
    margin-left:10%;
    font-size:15px;
}
#log{
    padding:10px;
    padding-left:35px;
    padding-right:35px;
    font-weight: bold;
    letter-spacing: 4px;
}
.btn{
    background-color: darkblue;
    color:white;
    
  
}
.btn:hover{
    background-color: blue;
    color:white;
}


#mouth{
    
    width:100%;
    height:465px;
    background-color: darkblue;
    border-top-left-radius: 60%;

}


svg{
    width:100%;
    height:300px;
}

#quote{
    
    font-family: 'Luckiest Guy', cursive;
    
    font-weight: bold;
    font-size:50px;
    letter-spacing: 4px;
    
}
text{
    fill : peachpuff;
}

