h2{
    color:darkblue;
    font-weight: bold;
    margin-bottom:20px;
    letter-spacing: 4px;
}
span{
    background-color:rgb(236, 177, 177);
    padding:10px;
    border-radius: 2px;
}
.form-control{
    width:500px;
    margin-bottom:8px;
}

form{
    display:inline-block;  
   
    text-align:left; 
}
#reg{
    display:block;
    text-align:center;
    margin-top:150px;
    
    }

.control-label{
        color:darkblue;
        font-size:18px;
        letter-spacing: 3px;
    }
.btn{
    background-color: darkblue;
    color:white;
    padding:10px;
    font-weight: bold;
    letter-spacing: 4px;
    
}
.btn:hover{
    background-color: blue;
    color:white;
}