<div id="log">
    <h2 style="color:white;background-color:blue;text-align: center;">login form</h2>
      <form action="" method="post">
        <div class="container" align="center">
        <label for="uid"><font color="white"><b>Login ID</b></font></label>
        <input style="width:400px; align: center; float:center;" type="text" placeholder="Enter Username" name="uid" required>
<br>
         <label for="pswd"><font color="white"><b>Password</b></font></label>
          <input style="width:400px; align: center;" type="password" placeholder="Enter Password" name="pswd" required>
 <br>
                <button  style="width:100px; type="submit">Submit</button>
        </div>
</form>
</div>